<div class="container" ng-controller="CreateCtrl">
  <h2>{{ authData.google.displayName }} - Create your quiz below</h2>


  <ul class="nav nav-tabs" ng-init="active.tab = 'create'">
    <li ng-class="{active: active.tab === 'create'}" ng-click="active.tab = 'create'"><a>Create your quiz</a></li>
    <li ng-class="{active: active.tab === 'upload'}" ng-click="active.tab = 'upload'"><a>Upload from CSV file</a></li>
    <li ng-class="{active: active.tab === 'help'}" ng-click="active.tab = 'help'"><a>Need help?</a></li>
  </ul>


  <div class="tabContent" ng-switch="active.tab">
    <div ng-switch-when="create">
      <hr>
    </div>
    <div ng-switch-when="upload">
      <div class="form-input" ng-hide="jsonResult">
        <label for="quizTitle">Give your quiz a title...</label>
        <input type="text" class="form-control" id="quizTitle" ng-model="title">
        <label for="fileInput">Select a CSV file...</label>
        <input type="file" class="form-control" id="fileInput" onchange="angular.element(this).scope().filesChanged(this)" accept=".csv">
        <button type="button" class="btn btn-primary btn-block" ng-click="create()">Open CSV</button>
      </div>
      <hr>
    </div>
    <div ng-switch-when="help">
      <hr>
    </div>
  </div>
</div>
