<div ng-include="'app/shared/navbarView.html'"></div>
<div class="container">
  <div class="row" ng-show="authData">
    <div class="col-sm-3 text-center">
      <img ng-src="{{ authData.google.profileImageURL }}" class="img-responsive img-rounded">
      <h2>{{ authData.google.displayName }}</h2>

      <!-- Teacher View -->
      <div ng-show="userData.account === 'teacher'">
        <hr>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Quiz Title</th>
              <th>Number of cards...</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="each in teachercards" ng-click="listLink(each.$id)">
              <td>{{ each.title }}</td>
              <td>{{ each.cards.length }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- End teacher view table -->

      <!-- Student view table of all card lists -->
      <div ng-show="userData.account === 'student'">
        <hr>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Quiz Title</th>
              <th>Number of cards...</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="each in allcards" ng-click="listLink(each.$id)">
              <td>{{ each.title }}</td>
              <td>{{ each.cards.length }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- End of student table -->
    </div>

    <!-- main div student view -->
    <div class="col-sm-9" ng-show="userData.account === 'student'">
      <div class="row" ng-repeat="each in studentcards | filter:{username: userData.email}">
        <div class="col-xs-6" ng-repeat="q in each.questions">
          <div class="flip">
            <div class="card" card-flip>
              <div class="face front">{{ q.front }}</div>
              <div class="face back">{{ q.back }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- main view teacher view -->
    <div class="col-sm-9" ng-show="userData.account === 'teacher'">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Student Email:</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="each in teachercards">
            <td>{{ each[1] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
