<nav-bar></nav-bar>
<div class="container">
  <!-- main div student view -->
  <div class="col-sm-12" ng-show="userData.account === 'student'">
    <div class="row" ng-repeat="each in cards">
      <h3>{{ each.title }}</h3>
      <div class="col-xs-6" ng-repeat="q in each.questions">
        <div class="flip">
          <div class="card" card-flip>
            <div class="face front">{{ q.front }}</div>
            <div class="face back">{{ q.back }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main view teacher view -->
  <div ng-show="userData.account === 'teacher'">

    <div class="col-sm-6" ng-repeat="each in cards">
      <h3>{{ each.title }}</h3>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Student Email:</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="student in each.students">
            <td>{{ student }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
