<div class="container" ng-controller="IndexCtrl">
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome<span ng-show="!authData"> to my flashcard app</span><span ng-show="authData">, {{ authData.google.displayName }}</span>
      <div class="input-group pull-right">
        <a class="btn btn-success" href="#/create" role="button" ng-show="teacher">create from quizlet csv</a>
        <button type="button" class="btn btn-primary" ng-click="auth.getAuth().$unauth()" ng-show="authData">logout</button>

      </div>
      </h1>
      <button class="btn btn-primary" type="button" ng-click="auth.getAuth().$authWithOAuthPopup('google',{scope: 'email'})" ng-hide="authData">Get in!</button>
    </div>
  </div>
  <div ng-show="authData">
    <hr style="border: 1px solid black">
    <div class="row" ng-repeat="each in flashcards">
      <div class="col-xs-4" ng-repeat="q in each">
        <div class="flip">
          <div class="card" card-flip>
            <div class="face front">{{ q.front }}</div>
            <div class="face back">{{ q.back }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
